    <% layout('layouts/boilerplate') %> 
    <h1>Spots</h1>
    <a href="/spots/new">Create spot</a>
    <ul>
        <% for(let spot of spots){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%= spot.images[0].url %> " class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= spot.title %> </h5>
                            <p class="card-text text-muted"><small><%= spot.location %></small></p>
                            <p class="card-text"><%= spot.description %> </p>
                            <a href="/spots/<%= spot._id %>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %> 
    </ul>
